/* app global css */
a{
  text-decoration: none;
}
.brand-name {
  font-size: 140%;
}
.appLogo {
  width: 15%;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.ttf') format('ttf');
}

body{
  font-family: 'Poppins';
}
